.containerTitle {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    line-height: 1.6;
    font-family: Montserrat;
}

.projectTitle {
    font-size: 2.5em;
    font-weight: 600;
}

.card {
    width: 20em;
    border:none;
    margin-right: 2.5em;
    height: auto;
    font-family: "Montserrat", sans-serif;
    color: rgb(54, 42, 42);
    background-color: #ffffff;
}

.card:hover {
    -webkit-box-shadow: 0px 5px 20px -10px rgba(133, 133, 133, 0.57);
    -moz-box-shadow: 0px 5px 20px -10px rgba(112, 112, 112, 0.57);
    transition: all 0.3s ease 0s;
}

.card-body {
    background-color: #ffffff;
    visibility: hidden;
    transition: height 0.5s ease 0s;
    padding: 0.5rem 0 !important;
    height: 0;
}

.hover-to-show {
    overflow: hidden;
    cursor: pointer;
    padding-top: 1.5rem;
}

.hover-to-show:hover .card-body  {
    display: block;
    visibility: visible;
    height: 12em;
}

.card-title {
    font-size: 1.25rem;
}

.card-text { 
    color: black;
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row {
    padding-top:3rem;
    margin-bottom: 25em;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}
.icon {
    padding-bottom: 0.5rem;
}

.buttonCard {
    border: none;
    background: black;
    color: #ffffff !important;
    font-weight: 100;
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.buttonCard:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    
    .containerTitle {
        margin-top: 4.5em;
    }

    .card {
        width: 17em;
        margin-right: 0;
        margin-left: 0%;
        margin-bottom: 2em;
    }
    .card-body {
        visibility: visible;
        height: auto;
    }
    .card-title {
        font-size: 1em;
    }
    .container-fluid .row {
        align-items: center;
        flex-direction: column;
        padding-top: 4rem;
    }
    .hover-to-show {
        padding-top: 1rem;
    }
    .container-fluid .row {
        margin-bottom: 5em;
    }
    .projectTitle {
        font-size: 1.5em;
    }
    .buttonCard {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
    .containerTitle {
        align-items: center;
        flex-direction: column;
    }
    .card {
        margin-right: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        width: 18em;
    }
    .col-md-3 {
        justify-content: center;
        margin-left: 0em;
        margin-right: 0em;
    }
    .container-fluid .row {
        margin-bottom: 5em;
        margin-inline-start: 8%;
    }
 
}
