.containerInfo {
    margin-top: 8%;
    line-height: 1.6;
  
}

.titleDescription {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 2.5em;
    /* width: 65%; */
    font-weight: 900;
}

.description {
    font-family: 'Montserrat';
    font-size: 0.9rem;
    /* width: 65%; */
    font-weight: 300;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 1.5em;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.containerLeft {
    width: 100%;
    height: 50vh;
    margin-top: 7em;
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 50vh;
    margin-top: 12em;
    padding-left: 10em;
}

.containerIconContact {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

.icon {
    width: 40px;
}

.iconSeparation {
    width: 40px;
    margin-left: 1em;
}

@media screen and (max-width: 600px) {
    .icon {
        width: 2em;
    }
    .iconSeparation {
        width: 2em;
    
        margin-inline-start: 0.5em
    }
    .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .containerLeft {
        display: none;
        margin-top:auto;
    }
    .containerRight {
        margin-left: 6%;
        margin-right: 6%;
        padding-left: 0;
        margin-top: 0;
        text-align: left;
    }
    .titleDescription {
        text-align: left;
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 1.5em;
    }
    .description {
        width: 87%;
        text-align: left;
        font-size: 0.8em;
        margin-bottom: 3em;
    }
    .containerIcon, .containerIconContact {
        justify-content: left;
        
    }

}

@media screen and (min-width: 600px) and (max-width: 1024px)  {
    .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .containerRight {
        /* margin-left: 6%;
        margin-right: 6%; */
        padding-left: 0;
        margin-top: 0;
        text-align: left;
        height: 3em;
    }
}