.logoStyle {
    width: 80px;
    border-bottom: 2px solid white;
    margin-top: -0.7em;
}

@media screen and (max-width: 600px) {
    .logoStyle {
        width: 3.5em;
        margin-top: -0.9em;
    }
}