* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: '"Montserrat", sans-serif';
    color: #F8F8FF;
    background: black;
}

.containerDescription, .containerNavLinks {
    display: flex;
    justify-content: space-between;
}

.containerNavLinks {
    margin: 5vh 5vh 5vh 5vh; 
}

.containerDescription{
    margin: 5vh 25vh 10vh 25vh;
}

.containerPhoto > img {
    width: 60vh;
}