* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: '"Montserrat", sans-serif';
    color:  white;
    background: black;
}

.containerDescription, .containerNavLinks {
    display: flex;
    justify-content: space-between;
}

.containerNavLinks {
    margin: 5vh 5vh 5vh 5vh; 
}

.containerDescription{
    margin: -2em 10em 15em 12em;
}

.containerPhoto > img {
    width: 32em;
    border-radius: 40%;
}

.containerAnimation {
    margin-top: 5em;
}

.homeDescriptionStyles {
    font-family: "Montserrat", sans-serif;
    margin-top: 15em;
}

.h5Styles {
    font-size: 1.2em;
    padding-left: 10px;
}

.h1Styles {
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    font-weight: 900;
}

.containerIcon {
    display: flex;
    /* justify-content: space-around; */
}

.iconGit {
    width: 2.5em;
    padding-left: 10px;
}

.iconSpace {
    width: 2.5em;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
   
    .homeDescriptionStyles {
        margin-inline-start: 10%;
    }
    .containerAnimation {
        margin-top: -20%;
        align-self: center;
    }
    .containerIcon {
        margin-inline-start: 10%;
    }
    .iconGit {
        width: 2em;
    }
}

@media screen and (max-width: 600px) {
    body {
        color: white;
    }

    .containerDescription {
        display: flex;
        flex-direction: column;
        margin: 1em 1.2em 5em 1.2em;
    }

    .homeDescriptionStyles {
        margin-top: 3em;
    }

    .h5Styles {
        font-size: 1em;
        padding-left: 0;

    }

    .h1Styles {
        font-size: 1.8em;
        font-weight: 600;
    }

    .containerPhoto > img {
        width: 15em;    
        margin-left: 6em;
    }

    .iconGit {
        width: 2em;
        margin-left: 0em;
        padding-left: 0px;
    }
    .iconSpace {
        width:2em;
        margin-inline-start: 0.5em;
        padding-left: 0;
    }
    .containerAnimation {
        margin-top: -10%;
        align-self: center;
    }   
}
  
@media (min-width: 600px) and (max-width: 1024px) { 
    .containerDescription {
        display: flex;
        flex-direction: column;
        margin: 1em 4em 5em 4em;
    }

    .homeDescriptionStyles {
        margin-inline-start: 10%;
        margin-top: 5em;
    }

    .containerPhoto > img {
        width: 18em;    
        margin-left: 60%;
    }
    .containerPhoto > img {
        width: 15em;   
    }
    
    .h5Styles {
        font-size: 1em;
        padding-left: 0;
    }
    .h1Styles {
        font-size: 2.5em;
    }
    .containerAnimation {
        margin-top: -15%;
        margin-left: 10%;
        
    }   
    .containerIcon {
        margin-inline-start: 9%;
    }
}
