.iconContainer {
    display: flex;
    flex-direction: space-between;
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.6;
}

.iconSkills {
    width: 5em;
    margin-right: 0%;
    margin-inline-start: 1em;
}

.iconContainer {
    display: flex;
    flex-direction: space-around;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 25%;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5em;
        margin-top: 3em;
    }
    .iconSkills {
        width: 2rem;
        margin-inline-start: 0.5em;
    }
}

@media (min-width: 600px) and (max-width: 1024px) { 
    .title {
        font-size: 2em;
        margin-top: 3em;
    }
    .iconSkills {
        width: 3em;

    }
}
